body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}



.confetti-button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confetti-button:hover {
    background: #2fdbb6;
}

.confetti-button:active {
    background: #1da88a;
}

.button-wrapper {
    position: relative;
    width: 200px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}